---
import Base from '@layouts/Base.astro';
---

<Base>
  <div
    class="flex h-screen flex-col items-center justify-center text-center font-sans text-5xl leading-normal font-bold tracking-normal"
  >
    404
  </div>
</Base>
