---
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';
import Base from '@layouts/Base.astro';
import Link from '@components/Link.astro';
import { Icon } from 'astro-icon/components';
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div
    class="flex h-screen flex-col items-center justify-center text-center font-sans leading-normal tracking-normal"
  >
    <h1 class="glow my-3 text-4xl font-bold md:text-6xl">
      Federico Maria Morrone
    </h1>
    <p class="text-1xl my-3 md:text-3xl">Rust Developer & Linux Enthusiast</p>
    <p class="my-3 max-w-2xl">
      Welcome to my corner of the web! I'm a 21-year-old Linux enthusiast who
      loves crafting Rust programs. When I'm not diving into low level code,
      you'll find me creating adorable little websites or dissasebling yet
      another retro console.
    </p>
    <div class="my-3 flex items-center space-x-4 align-middle text-xl">
      <!-- <Link href="/projects">Projects</Link>
      <Link href="https://ko-fi.com/morrone/" target="_blank">Support me</Link>
      <Link href="/about">About</Link>
      <Link href="/posts">Blog</Link> -->
      <Link href="https://github.com/morr0ne" target="_blank">
        <Icon name="lucide:github" size={24} />
      </Link>
      <Link href="mailto:contact@morrone.dev">
        <Icon name="lucide:mail" size={24} />
      </Link>
      <Link href="/rss.xml">
        <Icon name="lucide:rss" size={24} />
      </Link>
    </div>
  </div>
</Base>

<!-- 
TODO
- Bigger links
- Navbar in blog and projects section
- Less whitespace on mobile
- More responive
- Add about page
-->
