---
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';
import Base from '@layouts/Base.astro';
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div
    class="flex min-h-full max-w-fit flex-col justify-center text-5xl md:text-8xl"
  >
    (づ｡◕‿‿◕｡)づ
    <span class="text-right text-xl">Soon™</span>
  </div>
</Base>
