---
import Link from '@components/Link.astro';
import Base from '@layouts/Base.astro';
---

<Base>
  <main class="container m-auto flex flex-col items-center text-center">
    <h1
      class="from-trans-pink to-trans-blue mb-6 bg-gradient-to-r bg-clip-text text-5xl font-bold text-transparent"
    >
      Matilde Morrone
    </h1>
    <p class="mb-8 max-w-2xl text-xl leading-relaxed">
      Open source enthusiast, Rust aficionado, and perpetrator of delightful
      digital shenanigans.
    </p>
    <div class="flex flex-wrap justify-center gap-6">
      <Link href="/blog" icon="lucide:book-open"> Blog </Link>
      <Link href="https://github.com/morr0ne" icon="lucide:github" external>
        GitHub
      </Link>
      <Link href="https://x.com/matilde_morrone" icon="lucide:twitter" external>
        Twitter
      </Link>
      <Link href="mailto:contact@morrone.dev" icon="lucide:mail"> Email </Link>
    </div>
  </main>
</Base>
