---
import type { HTMLAttributes } from 'astro/types';
import { Icon } from 'astro-icon/components';

type Props = HTMLAttributes<'a'> & {
  icon?: string;
};

const { icon, ...attrs } = Astro.props;
---

<a
  class="hover:text-trans-blue mb-4 inline-flex items-center gap-2 text-slate-600 transition-colors"
  {...attrs}
>
  <Icon name="lucide:chevron-left" size={20} />
  <span><slot /></span>
</a>
