---
import HeaderLink from './HeaderLink.astro';
// import { SITE_TITLE } from '@consts';
import { Icon } from 'astro-icon/components';
---

<header class="flex flex-row justify-between align-center text-xl my-4">
  <HeaderLink href="/">Home</HeaderLink>
  <nav class="flex flex-row">
    <HeaderLink href="/posts">Posts</HeaderLink>
    <HeaderLink href="/projects">Projects</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="/about"><Icon name="lucide:mail" /></HeaderLink>
    <!-- <HeaderLink href="/about"><CakeSlice /></HeaderLink> -->
  </nav>
</header>
