---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href } = Astro.props;
---

<a href={href} class="hover:underline ml-2 flex items-center">
  <slot />
</a>
