---
import HeaderLink from './HeaderLink.astro';
// import { SITE_TITLE } from '@consts';
// import { CakeSlice } from 'lucide-astro';
---

<header class="flex flex-row text-xl">
  <nav class="my-4">
    <HeaderLink href="/">/home</HeaderLink>
    <HeaderLink href="/posts">/posts</HeaderLink>
    <HeaderLink href="/projects">/projects</HeaderLink>
    <HeaderLink href="/about">/about</HeaderLink>
    <!-- <a href="https://cake.morrone.dev" target="_blank">
      <CakeSlice class="inline-flex" size="18"/>
    </a> -->
  </nav>
</header>
