---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className } = Astro.props;
---

<a href={href} class:list={[className, 'hover:underline flex items-center']}>
  <slot />
</a>
