---
import HeaderLink from './HeaderLink.astro';
// import { SITE_TITLE } from '@consts';
import { Icon } from 'astro-icon/components';
---

<header class="flex flex-row justify-between align-center text-xl my-4">
  <HeaderLink href="/">Home</HeaderLink>
  <nav class="flex flex-row">
    <HeaderLink class="mx-2" href="/posts">Posts</HeaderLink>
    <HeaderLink class="mx-2" href="/projects">Projects</HeaderLink>
    <HeaderLink class="mx-2" href="/about">About</HeaderLink>
    <HeaderLink class="mx-2" href="/rss.xml">
      <Icon name="lucide:rss" />
    </HeaderLink>
    <HeaderLink class="ml-2" href="mailto:contact@morrone.dev">
      <Icon name="lucide:mail" />
    </HeaderLink>
    <!-- <HeaderLink href="/about"><Icon name="lucide:cake-slice" /></HeaderLink> -->
  </nav>
</header>
