---
import type { HTMLAttributes } from 'astro/types';
type Props = HTMLAttributes<'a'>;

const { href, ...attrs } = Astro.props;
---

<a href={href} {...attrs} class="text-white hover:underline">
  <slot />
</a>
