---
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';
import { getCollection } from 'astro:content';
import Base from '@layouts/Base.astro';

const posts = await getCollection('projects');
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="flex h-full w-full align-middle">
    <div class="grid h-full w-full grid-cols-2 gap-5">
      {
        posts.map((post) => (
          <div class="flex h-full w-full items-center justify-center rounded-xl border border-white border-opacity-20">
            <a href={`/projects/${post.slug}/`}>
              <h1 class="title">{post.data.title}</h1>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</Base>
