---
import { getCollection } from 'astro:content';
import Base from '@layouts/Base.astro';

const projects = await getCollection('projects');
---

<Base>
  <section>
    <h1>Projects</h1>
    <ul>
      {
        projects.map((project) => (
          <li>
            <div class="grid auto-cols-max grid-flow-col gap-4">
              <a href={`/projects/${project.id}/`}>
                <h1 class="title">{project.data.title}</h1>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
