---
import { SITE_TITLE, SITE_DESCRIPTION } from '@consts';
import { getCollection } from 'astro:content';
import Base from '@layouts/Base.astro';

const posts = await getCollection('projects');
---

<Base title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <section>
    <h1>Projects</h1>
    <ul>
      {
        posts.map((post) => (
          <li>
            <div class="grid auto-cols-max grid-flow-col gap-4">
              <a href={`/projects/${post.slug}/`}>
                <h1 class="title">{post.data.title}</h1>
              </a>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Base>
