---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';
import Base from './Base.astro';
import { Icon } from 'astro-icon/components';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate: _ } = Astro.props;
---

<Base title={title} description={description}>
  <a href="/posts" class="flex max-w-fit flex-row">
    <Icon name="lucide:chevron-left" size={24} />
    <span>Back to posts</span>
  </a>
  <h1 class="mt-5 text-3xl font-bold">{title}</h1>
  <FormattedDate date={pubDate} updated />
  <article class="prose max-w-none">
    <slot />
  </article>
</Base>
